<form  [formGroup]="form1" (ngSubmit)="loginCheck()" style="width: 500px; margin: auto;">
    <div class="form-group">
        Enter email : <input type="text" name="email" [(ngModel)]=userLogin.email class="form-control" formControlName="email" > 
        <!-- <div *ngIf="form1.get('email').touched"> -->
            <div *ngIf="form1.get('email').hasError('required') && form1.get('email').touched && form1.get('email').pristine" class="alert alert-danger" >
                Please Enter email
            </div>
            <div *ngIf="form1.get('email').invalid && form1.get('email').dirty" class="alert alert-danger">
                Please Enter Correct Email Address
            </div>
        <!-- </div> -->

        Enter password : <input type="password" name="password" [(ngModel)]=userLogin.password class="form-control" formControlName="password" > 
        <div *ngIf="form1.get('password').touched">
            <div *ngIf="form1.get('password').hasError('required')" class="alert alert-danger">
                Please Enter email
            </div>
        </div>

    </div>
    <button type="submit">Login</button> 
</form>