<div class="square">
    <div class="content">
        <p>JAVA</p><br>
        <button class="button" value="java" onclick="selection(101)">Start Test</button>
    </div>
</div>
<div class="square">
    <div class="content">
        <p>PYTHON</p><br>
        <button class="button" value="python" onclick="selection(102)">Start Test</button>
    </div>
</div>
<div class="square">
    <div class="content">              
        <p>PHP</p><br>
        <button class="button" value="php">Start Test</button>
    </div>
</div>
<div class="square">
    <div class="content">              
        <p>.NET</p><br>
        <button class="button" value="dotnet">Start Test</button>
    </div>
</div>
<div class="square">
    <div class="content">              
        <p>C</p><br>
        <button class="button" value="c">Start Test</button>
    </div>
</div>
<div class="square">
    <div class="content">              
        <p>C++</p><br>
        <button class="button" value="c++">Start Test</button>
    </div>
</div>




