.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .container {
    position: relative;
  }
  
  .child {
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  }

  .jc-center {
    justify-content: center;
  }
  
  button.margin-right {
    margin-right: 20px;
  }

  .flex-parent {
    display: flex;
  }