<app-menu-bar></app-menu-bar>
<div class="row">
    <div class="column leftside">
        <img src="assets/images/home2.jpg" alt="welcome">    
    </div>
    <div class="column rightside">
        <div class="title">
            <br>
            CodeBookTests
        </div><br><br>
        <div class="content">
           <p>The <i>EXPERT</i> in everything was once a <i>BEGINNER...</i><br>
                Let's <i>BEGIN</i> the journey.<br><br><br>
            </p>
                <div class="test">
                 Test yourself with CodeBookTests.
                </div>          
        </div>
    </div>
</div>
<footer>
    &copy;CodeBookTests <br>      Email: codebooktests@gmail.com       Contact-number: 8888999911
</footer>

